
/* login.html */
#login {
    background: linear-gradient(#39393b44, #39393b44), url('/static/images/hoang-thanh-qS3EEckqUBo-unsplash.jpg') center center/cover no-repeat fixed;
    height: 89vh;
    padding-top: 80px;
  }
  
  .login {
    background-color: #fcf8f5e0;
    /*ATHENS GRAY*/
    padding: 50px;
  }
  
  #login_form label {
    color: #39393b;
    font-weight: 400;
  }
  
  #login_form_img {
    height: 80px;
  }