{% extends 'base.html' %}
{% block content %}
<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="/static/images/Sizzling - 11632.mp4" type="video/mp4">
  </video>
  <div class="container">
    <div class="s_container pl-3">
      <h1 class="mb-2 cursive">Steak is always a good idea!</h1>
      <p class="h4 mb-4">Is your stomach growling yet? Don't keep your appetite waiting any longer.</p>
      <div class="mobile_header py-3">
        <img style="display:none" class="mb-3 text-center img-fluid" src="/static/images/homestew_alt_img.svg" alt="homestew logo">
        <a href="/signup" id="signup_btn" class="btn btn-lg">Get started! <i class="fas fa-utensils"></i></a>
        <a href="/login" id="login_btn" class="btn btn-lg">Login <i class="fas fa-user"></i></a>
      </div>
     
    </div>
  </div>
</header>


{% endblock %}