{%extends 'base.html'%}

{% block content %}
<section id="home_section">
  <div class="px-5 home_header text-white container">
    <span class="h5">Hello, Welcome to</span>
    <h1 class="cursive display-1 font-weight-bold">Homestew!</h1>
    <p class="h4">Homestew was created to help users connect through the power and joy of food while experiencing the COVID-19 pandemic. 
      We strive to be all families' best friends in food and are committed to teaching, inspiring, and empowering the 
      every day foodie!</p>
    <i class="pt-5 h2 fas fa-arrow-down"></i>
  </div>
</section>



{% endblock %}

