{% extends 'base.html' %}
{% block content %}
<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="/static/images/Sizzling - 11632.mp4" type="video/mp4">
  </video>
  <div class="container">
    <div>
      <h1 class="display-3">Steak is always a good idea!</h1>
      <p class="h5">Is your stomach growling yet? Don't keep your appetite waiting any longer.</p>
      <a href="/signup" class="btn btn-lg btn-secondary">Get Started!</a>
    </div>
  </div>
</header>


{% endblock %}