{%extends 'base.html'%}
{%block content%}
<section>
    <div id="diet_section">
        <h1 class="section_heading text-white font-weight-bold display-1 text-center">Diets</h1>
    </div>

    <div class="container">
        <div class="mt-5 mb-5 text-center">
            <p class="h2 cursive">Choose a Diet</p>
            <h2 class="display-3 font-weight-bold">Recipe Diets</h2>
        </div>
        <div class="row">
            <div class="mb-5 col-lg-4 col-md-6">
                <div class="diet_card">
                    <img class="text-center diet_img img-fluid"
                        src="/static/images/taylor-kiser-6hxK5l-sHys-unsplash.jpg" alt="">
                    <p class="mt-2 text-center display-4">Gluten Free</p>
                </div>
            </div>
            <div class="mb-5 col-lg-4 col-md-6">
                <div class="diet_card">
                    <img class="diet_img img-fluid" src="/static/images/ketogenic.jpg" alt="">
                    <p class="mt-2 text-center display-4">Ketogenic</p>
                </div>
            </div>
            <div class="mb-5 col-lg-4 col-md-6">
                <div class="diet_card">
                    <img class="diet_img img-fluid" src="/static/images/vegetarian.jpg" alt="">
                    <p class="mt-2 text-center display-4">Vegetarian</p>
                </div>
            </div>
            <div class="mb-5 col-lg-4 col-md-6">
                <div class="diet_card">
                    <img class="diet_img img-fluid" src="/static/images/lacto_vegetarian.jpg" alt="">
                    <p class="mt-2 text-center display-4">Lacto-Vegetarian</p>
                </div>
            </div>
            <div class="mb-5 col-lg-4 col-md-6">
                <div class="diet_card">
                    <img class="diet_img img-fluid" src="/static/images/ovo_vegetarian.jpg" alt="">
                    <p class="mt-2 text-center display-4">Ovo-Vegetarian</p>
                </div>
            </div>
            <div class="mb-5 col-lg-4 col-md-6">
                <div class="diet_card">
                    <img class="diet_img img-fluid" src="/static/images/vegan.jpg" alt="">
                    <p class="mt-2 text-center display-4">Vegan</p>
                </div>
            </div>
            <div class="mb-5 col-lg-4 col-md-6">
                <div class="diet_card">
                    <img class="diet_img img-fluid" src="/static/images/pescetarian.jpg" alt="">
                    <p class="mt-2 text-center display-4">Pescetarian</p>
                </div>
            </div>
            <div class="mb-5 col-lg-4 col-md-6">
                <div class="diet_card">
                    <img class="diet_img img-fluid" src="/static/images/paleo.jpg" alt="">
                    <p class="mt-2 text-center display-4">Paelo</p>
                </div>
            </div>
            <div class="mb-5 col-lg-4 col-md-6">
                <div class="diet_card">
                    <img class="diet_img img-fluid" src="/static/images/primal.jpg" alt="">
                    <p class="mt-2 text-center display-4">Primal</p>
                </div>
            </div>
            <div class="mb-5 col-lg-4 col-md-6">
                <div class="diet_card">
                    <img class="diet_img img-fluid" src="/static/images/whole_30.jpg" alt="">
                    <p class="mt-2 text-center display-4">Whole 30</p>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}