{%extends 'base.html'%}
{%block content%}
<section>
    <div id="diet_section">
        <h1 class="section_heading text-white font-weight-bold display-1 text-center">Diets</h1>
    </div>

    <div class="container">
        <div class="mt-5 mb-5 text-center">
            <h2 class="secondary_headings"><span>Meal Types</span></h2>
            <p class="display-3 d-none d-md-block font-weight-light">Diets that fit your lifestyle!</p>
        </div>
        <div class="row">
            <div class="mb-5 col-lg-4 col-md-6">
                <div class="diet_card">
                    <img class="text-center diet_img img-fluid"
                        src="/static/images/gluten_free.jpg" alt="Gluten free image">
                    <p class="mt-2 text-center display-4">Gluten Free</p>
                    <p class="h5 text-center mt-2">A gluten-free diet is an eating plan that excludes foods containing
                        gluten and is essential for managing signs and symptoms of celiac disease and other medical
                        conditions associated with gluten.. Gluten is a protein found in wheat, barley, rye and
                        triticale (a cross between wheat and rye).</p>
                </div>
            </div>
            <div class="mb-5 col-lg-4 col-md-6">
                <div class="diet_card">
                    <img class="diet_img img-fluid" src="/static/images/ketogenic.jpg" alt="">
                    <p class="mt-2 text-center display-4">Ketogenic</p>
                    <p class="h5 text-center mt-2">“Ketogenic” is a term for a low-carb diet (like the Atkins diet). The
                        idea is for you to get more calories from protein and fat and less from carbohydrates. You cut
                        back most on the carbs that are easy to digest, like sugar, soda, pastries, and white bread.</p>
                </div>
            </div>
            <div class="mb-5 col-lg-4 col-md-6">
                <div class="diet_card">
                    <img class="diet_img img-fluid" src="/static/images/vegetarian.jpg" alt="">
                    <p class="mt-2 text-center display-4">Vegetarian</p>
                    <p class="h5 text-center mt-2">Vegetarian diets contain various levels of fruits, vegetables,
                        grains, pulses, nuts and seeds. The inclusion of dairy and eggs depends on the type of diet you
                        follow.</p>
                </div>
            </div>
            <div class="mb-5 col-lg-4 col-md-6">
                <div class="diet_card">
                    <img class="diet_img img-fluid" src="/static/images/lacto_vegetarian.jpg" alt="">
                    <p class="mt-2 text-center display-4">Lacto-Vegetarian</p>
                    <p class="h5 text-center mt-2">The lacto-vegetarian diet is a type of vegetarianism that excludes
                        meat, poultry, seafood, and eggs, but includes dairy products. People may choose to adopt a
                        lacto-vegetarian diet for environmental, ethical, or health reasons.</p>
                </div>
            </div>
            <div class="mb-5 col-lg-4 col-md-6">
                <div class="diet_card">
                    <img class="diet_img img-fluid" src="/static/images/ovo_vegetarian.jpg" alt="">
                    <p class="mt-2 text-center display-4">Ovo-Vegetarian</p>
                    <p class="h5 text-center mt-2">An ovo-vegetarian diet can include all fruits, vegetables, squashes,
                        legumes, beans, and grains such as rice, quinoa, and barley; all seeds, spices and fresh herbs,
                        eggs and products containing eggs such as egg whites, mayonnaise, egg noodles and some baked
                        goods.</p>
                </div>
            </div>
            <div class="mb-5 col-lg-4 col-md-6">
                <div class="diet_card">
                    <img class="diet_img img-fluid" src="/static/images/vegan.jpg" alt="">
                    <p class="mt-2 text-center display-4">Vegan</p>
                    <p class="h5 text-center mt-2">Veganism is the practice of abstaining from the use of animal
                        products, particularly in diet, and an associated philosophy that rejects the commodity status
                        of animals.</p>
                </div>
            </div>
            <div class="mb-5 col-lg-4 col-md-6">
                <div class="diet_card">
                    <img class="diet_img img-fluid" src="/static/images/pescetarian.jpg" alt="">
                    <p class="mt-2 text-center display-4">Pescetarian</p>
                    <p class="h5 text-center mt-2">In the pescatarian diet, a person’s main source of animal protein
                        comes from fish and other seafood, such as shrimp. Eating a diet consisting mainly of
                        plant-based
                        foods has a variety of health benefits, which the addition of fish and fish products may
                        enhance.
                    </p>
                </div>
            </div>
            <div class="mb-5 col-lg-4 col-md-6">
                <div class="diet_card">
                    <img class="diet_img img-fluid" src="/static/images/paleo.jpg" alt="">
                    <p class="mt-2 text-center display-4">Paelo</p>
                    <p class="h5 text-center mt-2">A paleo diet typically includes lean meats, fish, fruits, vegetables,
                        nuts and seeds — foods that in the past could be obtained by hunting and gathering. A paleo diet
                        limits foods that became common when farming emerged about 10,000 years ago. These foods include
                        dairy products, legumes and grains.</p>
                </div>
            </div>
            <div class="mb-5 col-lg-4 col-md-6">
                <div class="diet_card">
                    <img class="diet_img img-fluid" src="/static/images/primal.jpg" alt="">
                    <p class="mt-2 text-center display-4">Primal</p>
                    <p class="h5 text-center mt-2">The Primal Diet is an eating pattern that’s high in protein and fat,
                        low in carbs, and designed to closely resemble the presumed diet of early humans.</p>
                </div>
            </div>
            <div class="mb-5 col-lg-4 col-md-6">
                <div class="diet_card">
                    <img class="diet_img img-fluid" src="/static/images/whole_30.jpg" alt="">
                    <p class="mt-2 text-center display-4">Whole 30</p>
                    <p class="h5 text-center mt-2">The Whole30 diet is a month-long clean-eating program that promises a
                        variety of health and emotional benefits. The diet focuses on the idea that certain food groups
                        may negatively affect your health and fitness.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}