{%extends 'base.html'%}
{%block content%}
<section>
    <div id="favorites_section">
        <h1 class="section_heading text-white font-weight-bold display-1 text-center">Favorite Recipes</h1>
    </div>

    <div class="mt-5 container">
        <div class="mt-5 mb-5 text-center">
            <h2 class="secondary_headings"><span>View favorites</span></h2>
            <p class="display-3 font-weight-light">Saved Recipes</p>
        </div>
        <div class="row mx-auto">
            {%if not saved_recipes%}
            <p class="display-4">There are no saved recipes to display!</p>
            {%else%}
            {%for recipe in saved_recipes%}
            <div class="col-lg-4 col-md-6">
                <div class="mx-auto mb-5 card" style="border: 1px solid lightgrey; width: 18rem;">
                    <a href="\search\recipes\{{recipe.recipe_source_id}}"><img class="card-img-top img-fluid"
                            alt="{{recipe.title}}" src="{{recipe.recipe_image}}"></a>

                    <div class="card-body text-center mx-auto">
                        <p class="h4 card-title">{{recipe.title}}</p>
                        <p class="h5 card-text">Rated {{recipe.rating}} out of 100</p>
                        <a class="btn btn-small btn-success" href="\search\recipes\{{recipe.recipe_source_id}}">View</a>
                        <a class="btn btn-small btn-danger" href="\recipes\delete\{{recipe.recipe_source_id}}"><i
                                class="fas fa-trash"></i></a>
                    </div>
                </div>
            </div>
            {%endfor%}
            {%endif%}
        </div>
</section>




{%endblock%}